body {
  font-family: "Comfortaa", cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-size: 1.5rem;
  color: var(--primary-white);
  background-color: var(--primary-bg-color);
}

:root {
  --primary-white: #fff;
  --primary-bg-color: #222222;
  --secondary-color: #9b9b9b;
  --highlight-color: #11998e;
  --gradient-start: #11998e;
  --gradient-end: #38ef7d;
  --overlay-color: rgba(0, 0, 0, 0.5);
}

.head__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.head__block > * {
  transition: opacity 1s;
}

.head__block #movieGenres,
#movieLength {
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  margin-top: 5px;
}

.title__block {
  display: flex;
  text-align: center;
  font-weight: bold;
  gap: 20px;
}

.title__block #movieTitle {
  font-size: 2rem;
}

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
  margin-bottom: 20px;
}

.result__block {
  position: relative;
  display: flex;
  justify-content: space-between;
  color: var(--primary-white);
  align-items: start;
  margin-top: 50px;
  padding: 30px 0 30px;
  width: 905px;
  height: auto;
}

.result__background,
.result__background.loaded {
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.result__background {
  opacity: 0;
  transition: opacity 1s;
}
.result__background.loaded {
  opacity: 1;
}

.descBlock {
  min-height: 80%;
  width: 50%;
  margin-left: 40px;
  background-color: var(--overlay-color);
  border-radius: 10px;
  padding: 20px 20px 40px;
  opacity: 0;
  cursor: pointer;
}

.descBlock.fade-in {
  transition: opacity 1s;
}

#movieDesc {
  font-size: 1rem;
  opacity: 0;
  transition: opacity 1s;
}
#movieAge {
  font-size: 2rem;
  /* opacity: 0;
  transition: opacity 1s; */
  padding: 4px 8px;
  display: inline-block;
}

#moviePoster {
  max-height: 450px;
  border-radius: 10px;
  height: auto;
  width: auto;
  margin-right: 40px;
  opacity: 0;
  transition: opacity 1s;
  cursor: pointer;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid var(--secondary-color);
  outline: 0;
  font-size: 1.3rem;
  color: var(--primary-white);
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form__field::placeholder {
  color: transparent;
}

.form__field:placeholder-shown + .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: var(--secondary-color);
}

.form__field:focus + .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: var(--highlight-color);
  font-weight: 700;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(
    to right,
    var(--gradient-start),
    var(--gradient-end)
  );
  border-image-slice: 1;
}

.form__field:required,
.form__field:invalid {
  box-shadow: none;
}

.actors__block,
.similar-movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  max-width: 850px;
}

.similar-movies {
  margin-top: 50px;
}

.similar__title {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.movies__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.actor,
.movie {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 125px;
  margin: 10px;
  position: relative;
}

.actor__photo,
.movie__photo {
  border-radius: 10px;
  /* margin-bottom: 8px; */
  cursor: pointer;
}

.actor__photo {
  margin-bottom: 8px;
}
.movie__photo {
  margin-bottom: 14px;
}
.movie__photo:hover {
  transform: scale(1.25);
  transition: transform 1.5s;
}

.actor__info,
.movie__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-radius: 10px;
  padding: 10px 0;
  cursor: pointer;
}

.actor__info {
  background-color: var(--overlay-color);
}

.actor__name,
.movie__name {
  display: block;
  /* font-size: 0.8rem; */
  font-weight: bold;
  text-align: center;
  margin-bottom: 8px;
}

.actor__name {
  font-size: 0.8rem;
}
.movie__name {
  font-size: 1.2rem;
}

.actor__description {
  display: block;
  font-size: 0.7rem;
  text-align: center;
  max-width: 90%;
}

#hint {
  position: fixed;
  bottom: 20px;
  left: 50%;
  opacity: 0;
  transform: translateX(-50%);
  padding: 20px;
  background: var(--overlay-color);
  color: var(--primary-white);
  font-size: 1.3rem;
  border-radius: 10px;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  padding: 10px 0;
  background-color: var(--primary-bg-color);
}

.logo {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--primary-white);
  cursor: pointer;
}

.main-nav ul {
  display: flex;
  gap: 30px;
  list-style-type: none;
}

.main-nav a {
  color: var(--secondary-color);
  text-decoration: none;
  transition: color 0.3s;
}

.main-nav a:hover {
  color: var(--highlight-color);
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
